N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=changeme
N8N_PORT=5678
N8N_HOST=0.0.0.0

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=n8n-db
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=changeme

QDRANT_URL=https://c9f9291b-daad-4d6a-af70-d863983f2da9.eu-west-2-0.aws.cloud.qdrant.io  #  :6333
QDRANT_API_KEY=qdrantAPIKeyHere
OPENAI_API_KEY=openAIKeyHere
ZALO_LICENSE_KEY = ZaloLicenseKeyHere

JIRA_KEY=JiraKeyHere

HF_TOKEN=HFTokenHere


TZ=Asia/Ho_Chi_Minh
